<div class="ui vertical fluid tabular menu">
  <a href="{% url 'festival_edit' pk=festival.pk %}" class="{% if active == 'shops' %}active{% endif %} item">
		Shops
  </a>
  <a href="{% url 'festival_dashboard' pk=festival.pk %}" class="{% if active == 'dashboard' %}active{% endif %} item">
		Dasboard
  </a>
  <a href="{% url 'festival_users' pk=festival.pk %}" class="{% if active == 'wristbands' %}active{% endif %} item">
		Wristbands
  </a>
  <a href="{% url 'festival_distribution' pk=festival.pk %}" class="{% if active == 'distribution' %}active{% endif %} item">
		Distribution
  </a>
  <a href="{% url 'festival_merchant_app' pk=festival.pk %}" class="{% if active == 'merchant_app' %}active{% endif %} item">
		Wristband Merchant App
  </a>
</div>
